HEAD
# Ignorer le dossier Twitter-Sentiment-Analysing
Twitter-Sentiment-Analysing/

# Fichiers spécifiques à IntelliJ IDEA
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# IntelliJ IDEA
HEAD
e7b241f346d879230433b321870596c6ec161d0a

# Ignorer le dossier Twitter-Sentiment-Analysing
Twitter-Sentiment-Analysing/

# Fichiers spécifiques à IntelliJ IDEA
#cd1f4cc (Ajout du fichier .gitattributes pour gérer les fins de ligne)
e0dc08cdf2ca4101e48e588f4a50398659dc8ca9
.idea/
*.iml
out/

HEAD
# Logs et fichiers temporaires
*.log
*.tmp

# Dossiers de compilation
target/
*.class

# Exclure d'autres fichiers ou dossiers non nécessaires
.bsp/

# Logs
logs/
*.log

# Compiled files
*.class
*.jar
*.war

# Scala
*.bloop
*.metals
*.history
*.target/

# Build tools
/.sbt/
/.project
/.classpath
/.settings/
/build/
/dist/
/target/
/bin/
/lib/
/META-INF/

# Spark temporary files
spark-warehouse/
metastore_db/
derby.log

# OS-specific files
.DS_Store
Thumbs.db
HEAD
e7b241f346d879230433b321870596c6ec161d0a

# Logs et fichiers temporaires
*.log
*.tmp

# Dossiers de compilation
target/
*.class

# Exclure d'autres fichiers ou dossiers non nécessaires
.bsp/
#cd1f4cc (Ajout du fichier .gitattributes pour gérer les fins de ligne)
e0dc08cdf2ca4101e48e588f4a50398659dc8ca9
