# Ignorer le dossier Twitter-Sentiment-Analysing
Twitter-Sentiment-Analysing/

# Fichiers spécifiques à IntelliJ IDEA
.idea/
*.iml
out/

# Logs et fichiers temporaires
*.log
*.tmp

# Dossiers de compilation
target/
*.class

# Exclure d'autres fichiers ou dossiers non nécessaires
.bsp/
